

.body {
    
}


.container {
	margin-top:0;
	margin-bottom:0;
	margin-right:auto;
	margin-left:auto;
	width:600px;
	background-image: url("Assets\Images\concrete_seamless.png");
}

.header {


}

.about {

}

.image {

}

.connect {

}

.footer {

}